@import url("../fonts/play/play.css");
*{
    margin: 0;
    padding: 0;
    border: 1;
    font: inherit;
    vertical-align: baseline;
}
:root{
    --black: rgba(17, 17, 17, 1);
    --pb-block: 150px;
}
body{
    font-family: "Play";
    font-size: 16px;
    font-weight: 400;
    color: #4A4A4A;
}
.site{
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
}
.site-header{
    width: inherit;
    display: flex;
    justify-content: space-between;
}
.site-header-wrap{
    width: 100%;
}
.site-header-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8px 11px;
}
.site-header-logo{
    width: 100%;
    max-width: 567px;
}
.site-header__img{
    max-height: 75px;
}
.site-header-menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 535px;
}
.site-header-menu__link{
    text-decoration: none;
    color: #4a4a4a;
}
.site-header-action{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 558px;
}
.site-heder-menu-item{
    width: max-content;
}

.site-header-burger span i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    -webkit-transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
    -o-transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
    transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
}
.site-header-burger span {
    position: relative;
    width: 22px;
    height: 3px;
    --rotateUp: 0;
    --rotateDown: 0;
    --top: 6px;
    background-color: #fff !important;
}
.site-header-burger span, .site-header-burger span::before, .site-header-burger span::after {
    height: 3px;
    width: 25px;
    display: block;
    background-color: black;
}
.site-header-burger span::before{
    content: "";
    display: block;
    position: relative;
    top: -7px;
    transform: rotate(var(--rotateUp));
}
.site-header-burger span::after{
    content: "";
    display: block;
    position: relative;
    top: 5px;
    transform: rotate(var(--rotateDown));
}

.site-main-banner{
    width: 100%;
    min-height: 899px;
}
.banner-content{
    padding-bottom: 60px;
}
.banner__item{
    background-image: url("../img/slider.jpg");
    min-height: inherit;
    background-repeat: no-repeat;
    background-size: 105%;
    background-position-y: center;
    background-position-x: -73px;
    background-color: rgba(0, 0 , 0, 0.1);
    background-blend-mode: multiply;
    display: flex;
    align-items: end;
}
.banner__title{
    font-weight: 400;
    font-size: 72px;
    color: #fff;
    text-transform: uppercase;
}
.banner__subtitle{
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}
.banner-goods{
    padding-top: 50px;
    width: 100%;
    max-width: 599px;
    display: flex;
    justify-content: space-between;
}
.banner-goods__item{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 24px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.banner-goods__item.--active{
    background-color: #fff;
    color: #000;
    font-weight: bold;
}
.banner-wrap{
    min-height: inherit;
    display: flex;
    align-items: end;
    width: 100%;
}
.site-main{
    width: inherit;
    min-height: 200px;
}
.site-footer{
    width: inherit;
    background-color: var(--black);
}
.site-main-about{
    padding: var(--pb-block) 0;
}
.about-info-item{
    width: 100%;
    max-width: 455px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-top, .about-info{
    display: flex;
    justify-content: space-between;
}
.about-info--center{
    justify-content: center;
}
.about-info-title{
    font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.about-info-pic{
    padding-bottom: 20px;
}
.title{
    text-transform: uppercase;
    font-size: 48px;
}
.about-title{
    max-width: 800px;
}
.about-info-text{
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
    padding: 0 30px;
    max-width: 350px;
}
.about-bottom{
    padding-top: 84px;
}
.about-catalog{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.button__link{
    padding: 16px 80px;
    color: #fff;
    text-decoration: none;
    font-family: 'Play';
    text-transform: uppercase;
    font-size: 24px;
    background-color: var(--black);
    transition: 0.5s;
}
.site-main-buy{
    padding-bottom: var(--pb-block);
}
.buy-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.buy-left{
    max-width: 960px;
    height: 867px;
    background-color: rgba(244, 244, 244, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 110px;
}
.buy__img{
    max-height: 867px;
}
.buy-title{
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 12px;
}
.buy-description{
    font-size: 20px;
    padding-bottom: 80px;
}
.site-main-reasons{
    padding-bottom: 150px;
}
.reasons-title{
    max-width: 840px;
    padding-bottom: 40px;
}
.reasons-content{
    display: flex;
    justify-content: space-between;
}
.reasons-item{
    width: 100%;
    max-width: 410px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--black);
}
.reasons-item-wrap{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reasons-item-title{
    font-size: 28px;
    text-transform: uppercase;
    height: max-content;
}
.reasons-item-description{
    width: 100%;
    max-width: 286px;
    font-size: 16px;
    line-height: 1.5;
}
.reasons-item-description, .reasons-item-pic{
    height: max-content;
    align-self: flex-end;
}
.question{
    background-color: rgba(244, 244, 244, 1);
}
.question-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question-right{
    width: 100%;
    max-width: 943px;
    padding-right: 110px;
}
.question-form-input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000 !important;
    max-width: 469px;
    background: rgba(244, 244, 244, 1);
}
.question-form-input::placeholder,
.question-form-area::placeholder{
    color: var(--black);
}
.queston-top-bottom{
    max-height: 200px;
}
.question-form-area{
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--black);
    max-width: 925px;
    width: 100%;
    max-height: inherit;
    min-height: 25px;
    background: rgba(244, 244, 244, 1);
}
.question-form-area:focus{
    outline: none;
}
.question-form__input{
    margin-bottom: 20px;
}
.question-form-input, .question-form-input:focus{
    outline: none;
}
.question-title{
    font-size: 48px;
    text-transform: uppercase;
    padding-bottom: 12px;
}
.question-description{
    font-size: 20px;
    padding-bottom: 60px;
}
.question-form-left{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 469px;
}
.question-form-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question-form-action{
    padding-top: 60px;
    max-width: 296px;
}
.queston-form-license{
    font-size: 14px;
    color: var(--black);
    padding-bottom: 20px;
}
.queston-form-license__link{
    color: var(--black);
}
.question-form-button{
    padding: 20px 80px;
    font-size: 24px;
    background-color: var(--black);
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    width: max-content;
    transition: 0.5s;
}
.question-form-text{
    font-size: 16px;
    color: var(--black);
    padding-bottom: 20px;
}

.question-form-file {
	position: relative;
	display: inline-block;
}
.question-form-file span {
	position: relative;
	display: flex;
    align-items: center;
    gap: 10px;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 24px;
    text-transform: uppercase;
	vertical-align: middle;
	color: #000;
	text-align: center;
	background-color: rgba(244, 244, 244, 1);
    border: 1px solid var(--black);
	line-height: 22px;
	height: 68px;
	padding: 16px 90px;
	box-sizing: border-box;
	margin: 0;
	transition: background-color 0.2s;
}
.question-form-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.footer-wrap{
    padding: 60px 0;
}
.footer-top{
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 487px;
}
.footer-menu__link{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}
.footer-social{
    display: flex;
    gap: 10px;
}
.footer-social-item{
    width: 32px;
    height: 32px;
    background-color: #000;
    border-radius: 50%;
}
.footer-social-item__link{
    display: block;
    width: 100%;
    height: 100%;
}
.footer-copy{
    font-size: 14px;
    color: #fff;
    line-height: 1.8;
}
.footer-social-item--vk{
    background-image: url("../img/icon/vk.png");
}
.footer-social-item--inst{
    background-image: url("../img/icon/instagram.png");
}
.footer-social-item--fb{
    background-image: url("../img/icon/facebook.png");
}
.footer-social-item--yt{
    background-image: url("../img/icon/youtube.png");
}
@media screen {
    .banner-goods__item:hover{
        background-color: #fff;
        color: #000;
    }
    .button__link:hover,
    .question-form-button:hover{
        background-color: #000;
    }
}
@media(min-width: 891px){
    .site-header-burger{
        display: none;
    }
    .site-header-mobile{
        display: none;
    }
}
@media(max-width: 1740px){
    .question-wrap,
    .question-form-top{
        gap: 20px;
    }
    .question-form-file span{
        padding: 16px 60px;
    }
    .site-header-content{
        padding: 15px 0 11px;
    }
}
@media(max-width: 1730px){
    .reasons-item{
        max-width: 350px;
        height: 300px;
    }
    .reasons-item-description{
        max-width: 245px;
    }

}
@media(max-width: 1700px){
    .about-wrap, .banner-wrap, .reasons-wrap, .footer-wrap, .site-header-wrap{
        padding: 0 10px; 
    }
    .footer-wrap--pt{
        padding: 60px 20px;
    }
}
@media(max-width: 1670px){
    .question-form-file span {
        padding: 16px 30px;
    }
}
@media(max-width: 1610px){
    .question-form-file span {
        padding: 16px 16px;
        font-size: 18px;
    }
}
@media(max-width: 1600px){
    .buy__img{
        max-width: 600px;
    }
    .buy-left{
        height: 548px;
        padding: 0 75px;
    }
}
@media(max-width: 1500px){
    .banner__item{
        background-size: cover;
        background-position-x: center;
    }
    .question__img{
        max-width: 600px;
    }
}
@media(max-width: 1440px){
    .reasons-item {
        max-width: 305px;
        height: 300px;
    }
    .reasons-item-title {
        font-size: 24px;
    }
    .reasons-item-description{
        font-size: 14px;
    }
    .reasons-item-description {
        max-width: 195px;
    }
    .question-form-file span {
        padding: 16px 10px;
        font-size: 16px;
    }
    .question-right{
        padding-right: 45px;
    }
}
@media(max-width: 1400px){
    .about-top{
        flex-direction: column;
    }
    .about-info{
        justify-content: center;
    }
    .about-title{
        max-width: 100%;
        padding-bottom: 50px;
    }
}
@media(max-width: 1350px){
    .site-header-logo,
    .site-header-action{
        max-width: max-content;
    }
    .banner__title{
        font-size: 55px;
    }
    .banner__subtitle{
        font-size: 22px;
    }
}
@media(max-width: 1300px){
    .reasons-item-description {
        max-width: 170px;
    }
}
@media(max-width: 1250px){
    .reasons-content{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }
    .reasons-item{
        max-width: 45%;
    }
    .reasons-item-title{
        width: 100%;
    }
    .reasons-item-description {
        max-width: 280px;
    }
}
@media(max-width: 1200px){
    .buy-title {
        font-size: 45px;
    }
    .buy-description {
        font-size: 18px;
    }
    .buy-left {
        height: 390px;
        padding: 0 40px;
    }
    .buy__img {
        max-width: 425px;
    }
    .question-form-top{
        flex-direction: column;
        align-items: start;
        padding-bottom: 25px;
    }
    .question-form-area{
        max-width: 450px;
    }
    .question-form-action{
        padding-top: 25px;
        padding-bottom: 10px;
    }
    .question-description{
        padding-bottom: 25px;
    }
}
@media(max-width: 1110px){
    .reasons-item-description {
        max-width: 250px;
    }
}
@media(max-width: 1040px){
    .question__img {
        max-width: 525px;
    }
    .question-title {
        font-size: 40px;
    }
    .question-description {
        font-size: 16px;
    }
    .question-form__input {
        margin-bottom: 10px;
    }
}
@media(max-width: 1025px){
    .reasons-item-description {
        max-width: 210px;
    }
    .question-left{
        height: 608px;
    }
    .question__img{
        height: 100%;
        max-width: 425px;
        object-fit: cover;
    }
}
@media(max-width: 970px){
    .question-form-text {
        font-size: 15px;
    }
}
@media(max-width: 920px){
    .reasons-item{
        height: 245px;
    }
    .reasons-item-img{
        width: 45px;
    }
}
@media(max-width: 890px){
    .site-header-menu{
        display: none;
    }
    .site-main-banner{
        min-height: 565px;
    }
    .site-header__img{
        max-height: 50px;
    }
}
@media(max-width: 870px){
    .button__link{
        font-size: 16px;
    }
    .buy-title {
        font-size: 35px;
    }
    .buy-description {
        font-size: 15px;
    }
    .buy__img {
        max-width: 325px;
    }
    .buy-left {
        height: 297px;
    }
    .reasons-item-description {
        max-width: 200px;
    }
}
@media(max-width: 845px){
    .question__img{
        max-width: 345px;
    }
}
@media(max-width: 780px){
    .banner__title {
        font-size: 48px;
    }
    .banner__subtitle {
        font-size: 18px;
    }
    .buy-description{
        padding-bottom: 40px;
    }
}
@media(max-width: 769px){
    .question-title {
        font-size: 30px;
    }
    .question-form-input{
        font-size: 13px;
    }
    .question-form-file span{
        height: 45px;
    }
    .question-form-button{
        padding: 12px 80px;
        font-size: 20px;
    }
    .footer-top{
        align-items: center;
    }
}
@media(max-width: 700px){
    .button__link {
        font-size: 13px;
    }
    .buy__img {
        max-width: 250px;
    }
    .buy-title {
        font-size: 27px;
    }
    .buy-left {
        height: 233px;
    }
    .footer-menu{
        max-width: 420px;
    }
}
@media(max-width: 680px){
    .banner__title {
        font-size: 43px;
    }
    .about-info {
        justify-content: space-around;
    }
    .about-info-item{
        max-width: 244px;
        justify-content: start;
    }
    .about-info-text{
        padding: 0 10px;
    }
    .about-info__img{
        max-width: 150px;
    }
    .title{
        font-size: 38px;
    }
    .question__img {
        max-width: 285px;
    }
}
@media(max-width: 665px){
    .buy-title {
        font-size: 25px;
    }
}
@media(max-width: 650px){
    .about-info-title{
        font-size: 24px;
    }
    .about-info-text{
        font-size: 15px;
    }
}
@media(max-width: 635px){
    .reasons-item-description {
        max-width: 170px;
    }
    .footer-menu {
        max-width: 370px;
    }
    .footer-top{
        flex-direction: column;
        gap: 25px;
    }
    .footer-copy{
        text-align: center;
    }
}
@media(max-width: 615px){
    .banner-goods__item{
        width: 25%;
    }
    .banner-goods{
        flex-wrap: wrap;
        justify-content: unset;
        gap: 10px;
    }
    .banner-goods__item{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .reasons-item-title {
        font-size: 20px;
    }
    .reasons-item-description {
        font-size: 13px;
    }
}
@media(max-width: 600px){
    .button__link--buy{
        padding: 16px 60px;
    }
    .buy-title {
        font-size: 19px;
    }
    .buy-description {
        font-size: 13px;
    }
    .question-wrap{
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 20px;
    }
    .question-content,
    .question-form,
    .question-form-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .question-right{
        padding-right: 0;
    }
    .queston-top-bottom{
        width: 100%;
    }
    .question-left {
        height: 0;
        /*height: 350px;*/
    }
    .question__img {
        display: none;
    }
}
@media(max-width: 570px){
    .reasons-item-description {
        max-width: 150px;
    }
}
@media(max-width: 560px){
    .button__link--buy {
        padding: 16px 45px;
    }
}
@media(max-width: 550px){
    .about-info__img {
        max-width: 125px;
    }
    .about-info-title {
        font-size: 20px;
    }
    .about-info-text {
        font-size: 13px;
    }
}
@media(max-width: 530px){
    .buy-left{
        padding: 0 15px;;
    }
}
@media(max-width: 525px){
    .reasons-item {
        max-width: 320px;
    }
}
@media(max-width: 490px){
    .buy-content{
        flex-direction: column;
    }
    .buy-left{
        width: 100%;
    }
    .buy-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }
    .buy-title{
        text-align: center;
    }
}
@media(max-width: 455px){
    .button__link{
        font-size: 15px;
    }
}
@media(max-width: 445px){
    .about-info{
        flex-wrap: wrap;
        gap: 84px;
    }
    .about-info-item{
        max-width: 100%;
    }
    .title {
        font-size: 27px;
    }
    .footer-menu{
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    .question-form-area {
        max-width: 330px;
    }
}
@media(Max-width: 385px){
    .question-wrap{
        padding-right: 10px;
        padding-left: 10px;
    }
    .question-form-area {
        max-width: 315px;
    }
}
@media(max-width: 365px){
    .reasons-item {
        max-width: 300px;
    }
}
@media(max-width: 355px){
    .question-form-area {
        max-width: 295px;
    }
}
@media(max-width: 345px){
    .button__link {
        padding: 16px 45px;
    }
}
@media(max-width: 335px){
    .question-form-area {
        max-width: 275px;
    }
}